.layoutStyle {
  height: 100vh;
  background-color: var(--bg-primary);
}

.siderStyle {
  height: 100%;
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-primary) !important;
}

.outletContainer {
  height: calc(100% - 32px);
  padding: 0 16px 16px 16px;
}
