.layoutStyle {
  height: 100vh;
  background-color: #fff;
}

.siderStyle {
  border-right: 1px solid #eaeaea;
}
.contentStyle {
  //background-color: #fff;
}

.outletContainer {
  padding: 0 16px 16px 16px;
}
